<body class="d-flex align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="card mx-auto" style="max-width: 400px;">
      <div class="card-header">Formulario de Pago con tarjeta</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="numeroTarjeta" class="form-label">Nombre del propietario:</label>
            <input type="text" class="form-control" id="propietario" required>
          </div>

          <div class="mb-3">
            <label for="numeroTarjeta" class="form-label">Número de Tarjeta:</label>
            <input type="number" class="form-control" id="numeroTarjeta" pattern="[0-9]{16}"
              placeholder="xxxx xxxx xxxx xxxx" required>
          </div>

          <div class="mb-3">
            <label for="tresNumeros" class="form-label">Ingrese codigo de seguridad:</label>
            <input type="number" class="form-control" id="tresNumeros" pattern="[0-9]{3}" placeholder="xxx" required>
          </div>

          <div class="mb-3">
            <label for="mesAnio" class="form-label">Mes y Año de caducidad:</label>
            <input type="month" class="form-control" id="mesAnio" required>
          </div>

          <button type="submit"  class="btn btn-primary">Enviar</button>
        </form>
        <br>
        <br>
        <button type="submit"  onclick="closePromociones()" href="#" class="btn btn-primary btn-lg mx-auto">Regresar a la página principal</button>
      </div>
    </div>
  </div>
</body>