
<div class="card">
  <div class="card-header">
    Promociones
  </div>
  <div class="card-body">
    <h5 class="card-title">Tratamiento Sesderma</h5>
    <p class="card-text">30% de descuento para cualquier producto SESDERMA durante esta semana</p>
	 <p><img src="../../img/promo4.png" class="card-img-top" alt="..."></p> 
    <a href="#" class="btn btn-primary">Ver Promo</a>
  </div>
</div>
	
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../img/promo2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cuida a tu mascota!</h5>
        <p class="card-text">¡Atención amantes de los perros! 🐾 Compra ahora 5 productos para la salud de tu peludo amigo y recibe el sexto ¡totalmente gratis! Porque cuidar de su bienestar es una forma de demostrarles cuánto los queremos. ¡No te pierdas esta oferta especial para consentir a tu fiel compañero!</p>
		  <p><a href="#" class="btn btn-primary">Ver Promo</a></p>  
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../img/promo3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Atención Medica</h5>
        <p class="card-text">¡Aprovecha ahora la oportunidad de ponerte en contacto con nuestros médicos especializados al adquirir cualquiera de nuestros servicios! Obtén un descuento del 50% y disfruta de asesoramiento personalizado para todas tus preguntas de salud. ¡Tu bienestar es nuestra prioridad! </p>
		<p><a href="#" class="btn btn-primary">Ver Promo</a></p>  
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../img/promo1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cremas</h5>
        <p class="card-text">¡No te pierdas nuestra increíble oferta en cremas humectantes! Obtén un 30% de descuento en todas las cremas humectantes hasta el final de febrero. ¡Cuida tu piel y aprovecha esta promoción especial para mantenerte hidratado durante todo el mes! ¡Tu piel te lo agradecerá!</p>
		<p><a href="#" class="btn btn-primary">Ver Promo</a></p>  
      </div>
    </div>
  </div>
</div>
